
body {
  background: linear-gradient(120deg, #222e3bc0, #1a1a1a, #100d39);
  background-size: 400% 400%;
  animation: glowBG 12s ease infinite;
  color: white;
  margin: left 15px;
  margin: right 15px;
  height: 100vh;
}

@keyframes glowBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

 
#section { /* Replace with the actual container selector */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust 200px as needed */
    gap: 5px; /* Adjust as needed for spacing between posters */
}

#query 
{
    width: 50%;
    padding: 1.5%;
    margin-top: 13%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    
}
#query:focus 
{
    outline: none;
    border-color: #0808eb;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.5);
    transition: border-color 0.5s ease, box-shadow 1.1s ease;
    cursor: text;
    
}

#query:hover ,#tumbnail:hover
{
    transform: scale(1.04);
    transition: transform 0.4s ease;
   
}

 #query:hover
 {
    transform: translateY(-10px);
 } 


#column
{
   float: left;
   width: 200px;
   padding: 10px;
}

#tumbnail
{
    text-align: center;
    margin: 12px;
    padding: 10px;
    background-color: #151f30;
    border-radius: 10px;
      
}


#MovieThumbnail
{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
}